<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header"> 
                <img src="./img/logolili.jpg"alt="card-img-tppmx-auto m-2 rounded-circle" 
                style="width: 150px; height: 150px;display:block;">  

              <h3. class="text-uppercase text-center p-4"> CRUD Node js y MySQL</h3> 
              

            </div>
            <div class="card-body text-center">
                <p>Asesorias Contables y Tributarias LIESLO asesoria y acompañamiento tributario con el registro de los movimientos de la actividad 
                    comercial, obteniendo como resultado la liquidacion de impuestos nacionales como locales. </p>
            <a href="" class="btn btn-primary">crear un cliente </a> 
        </div>
    </div>

</main>